services:
  mysql:
    env_file:
      - .env
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - traefik_default

  phpmyadmin:
    env_file:
      - .env
    image: phpmyadmin/phpmyadmin:latest
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_BLOWFISH_SECRET: ${PMA_BLOWFISH_SECRET}
      PMA_ABSOLUTE_URI: ${PMA_ABSOLUTE_URI}
    labels:
      # - "8080:80"
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_default"
      - "traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.example.com`)"
      - "traefik.http.routers.phpmyadmin.entrypoints=web"
      - "traefik.http.services.phpmyadmin.loadbalancer.server.port=80"
    networks:
      - traefik_default
      - db_network

  adminer:
    image: adminer:latest
    restart: unless-stopped
    depends_on:
      - mysql
    labels:
      # - "8081:8080"
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_default"
      - "traefik.http.routers.adminer.rule=Host(`adminer.example.com`)"
      - "traefik.http.routers.adminer.entrypoints=web"
      - "traefik.http.services.adminer.loadbalancer.server.port=8080"
    networks:
      - traefik_default
      - db_network

volumes:
  db_data:

networks:
  traefik_default:
    external: true
